<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<form action="ItemSignUp.php" method="POST">
                    <fieldset>
                        <label for="">Teacher:</label>
                        <br />
                        <input style=" align-content:center;" id="" name="" type="text" list="Teacher" value= <?php echo "\"$currentTeacher\"" ?>/>
                        <datalist id="Teacher" placeholder="Teacher" class="dropdown">
                            <!--Teachers-->
                            <option value="Mrs.West(TheDefault)">
                            <?php
                            // Iterate Results
                            for ($i=0; $i < $num_results; $i++) {
                                //Process Results
                                $row = $stmt->fetch();
                                echo '<option value="'. $row['UserName'] .'">';
                            }
                            ?>
                        </datalist>
                    </fieldset>
                    </br>
                    <fieldset>
                        <label for="">Room:</label>
                        <br />
                        <input style=" align-content:center;" id="" name="" type="text" list="Room"/>
                        <datalist id="Room" placeholder="Room" class="dropdown">
                        <?php foreach ($rooms as $key => $row) {
                            echo "<option value='";
                            if ($row['RoomName']) {
                                echo htmlentities($row['RoomName'], ENT_QUOTES, 'UTF-8');
                            } else {
                                echo htmlentities(roomString($row['RoomNumber']), ENT_QUOTES, 'UTF-8');
                            }
                            echo "'>";
                            }
                        ?>
                        </datalist>
                    </fieldset>
                    </br>
                    <fieldset>
                        <label for="">Period:</label>
                        <br />
                        <input style=" align-content:center;" id="" name="" type="text" list="Period" />
                        <datalist id="Period" placeholder="Period">
                            <option value="First Period">
                            <option value="Second Period">
                            <option value="Third Period">
                            <option value="Forth Period">
                        </datalist>
                    </fieldset>
                    </br>
                    <fieldset>
                	       <label for="">Item:</label>
                           <br />
                           <input style=" align-content:center;" id="" name="select item" type="text" list="SignOutItems" />
                                <datalist id="SignOutItems" placeholder="select">
                                    <option value="A Cart" label="15 Labtops">
                                    <option value="B Cart" label="15 Labtops">
                                    <option value="C Cart" label="15 Labtops">
                                    <option value="D Cart" label="15 Labtops">
                                    <option value="E Cart" label="15 Labtops">
                                    <option value="F Cart" label="15 Labtops">
                                    <option value="G Cart" label="30 Labtops">
                                    <option value="H Cart" label="30 Labtops">
                                    <option value="I Cart" label="30 Labtops">
                                    <option value="Special Ed 1" label="15 Labtop">
                                    <option value="Special Ed 2" label="15 Labtop">
                                    <option value="Ipad Cart" Label="10 Ipads">
                                    <option value="Tv" label="example">
                                    <option value="Projector" label="example">
                                    <option value="Lab Equipment" label="example">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                    <option value="">
                                </datalist>
                   </fieldset>
                   <fieldset>
                		<label for="">Date:</label>
                        <br />
                        	<div id="datetimepicker" class="input-append date">
    							<input style=" align-content:center;" type="text"></input>
    								<span class="add-on">
        								<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    								</span>
            				</div>
                		<script type="text/javascript"
                            src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js">
                        </script>
                        <script type="text/javascript"
                            src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js">
                        </script>
                        <script type="text/javascript"
                            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
                        </script>
                        <script type="text/javascript"
                            src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
                        </script>
                        <script type="text/javascript">
                            $('#datetimepicker').datetimepicker({
                              format: 'dd/MM/yyyy hh:mm:ss',
                              language: 'pt-BR'
                            });
                        </script>
                    </fieldset>
                </form>
            </div>
            <div class="panel-body">

            </div>
            <?php require "social.php" ?>

      </div>
            <?php require "social.php" ?>

            <!-- CONTENT-WRAPPER SECTION END-->
       </div>
    	<?php require "bottomBar.php" ?>


		<?php require "LinkScript.php" ?>

</body>
</html>
</body>
</html>
